In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import bar_chart_race as bcr

In [4]:
languages = pd.read_csv("languages.csv",index_col="Date",parse_dates=["Date"])

languages

,Abap,Ada,C/C++,C#,Cobol,Dart,Delphi/Pascal,Go,Groovy,Haskell,...,Powershell,Python,R,Ruby,Rust,Scala,Swift,TypeScript,VBA,Visual Basic
Date,,,,,,,,,,,,,,,,,,,,,
2004-07-01,0.34,0.36,10.01,4.68,0.42,0.00,2.80,0.00,0.03,0.22,...,0.16,2.51,0.39,0.33,0.24,0.17,0.00,0.00,1.43,8.50
2004-08-01,0.35,0.36,9.74,4.96,0.46,0.00,2.65,0.00,0.07,0.20,...,0.15,2.62,0.40,0.40,0.19,0.17,0.00,0.00,1.45,8.51
2004-09-01,0.41,0.41,9.59,5.04,0.51,0.00,2.64,0.00,0.08,0.21,...,0.08,2.71,0.40,0.41,0.17,0.13,0.00,0.00,1.54,8.38
2004-10-01,0.40,0.38,9.47,5.29,0.53,0.00,2.76,0.00,0.09,0.20,...,0.12,2.91,0.42,0.46,0.12,0.14,0.00,0.00,1.61,8.46
2004-11-01,0.38,0.38,9.48,5.22,0.55,0.00,2.75,0.00,0.07,0.24,...,0.12,2.83,0.41,0.44,0.17,0.15,0.00,0.00,1.50,8.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,0.46,0.85,6.84,6.93,0.39,0.82,0.00,1.92,0.39,0.32,...,0.89,27.69,3.99,1.02,1.89,0.63,2.21,2.77,1.02,0.59
2023-02-01,0.46,0.89,6.84,6.92,0.37,0.82,0.02,1.93,0.36,0.35,...,0.87,27.42,4.09,1.03,1.95,0.62,2.27,2.80,1.01,0.58
2023-03-01,0.46,0.93,6.86,6.81,0.37,0.80,0.09,1.90,0.37,0.34,...,0.89,27.39,4.20,1.03,2.06,0.65,2.25,2.84,0.98,0.56
2023-04-01,0.46,0.95,6.73,6.82,0.39,0.81,0.13,1.96,0.33,0.34,...,0.95,27.29,4.23,1.03,2.11,0.68,2.30,2.88,0.96,0.60
2023-05-01,0.48,1.02,6.55,6.92,0.40,0.78,0.16,1.95,0.37,0.32,...,0.95,27.27,4.34,1.04,2.08,0.78,2.30,2.88,0.95,0.61

In [9]:
bcr.bar_chart_race(languages,
                   n_bars=10,
                   steps_per_period=130,
                   period_length=125,
                   title="Most Popular Language",
                   figsize=(6,4),
                   filter_column_colors=True,
                   filename="sample.mp4"
                   )

/Users/thamizharasangnanaprakasam/anaconda3/lib/python3.11/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/Users/thamizharasangnanaprakasam/anaconda3/lib/python3.11/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))